In [1]:
import sys
import numpy as np
import pandas as pd
import sklearn

print("Python:", sys.version)
print("NumPy:", np.__version__)
print("Pandas:", pd.__version__)
print("Sklearn:", sklearn.__version__)
print("✅ Environment + notebook OK")

Python: 3.12.3 (main, Nov  6 2025, 13:44:16) [GCC 13.3.0]
NumPy: 2.4.0
Pandas: 2.3.3
Sklearn: 1.8.0
✅ Environment + notebook OK

In [2]:
import pandas as pd

In [5]:
path = "../data/raw/SMSSpamCollection"

df = pd.read_csv(
    path,
    sep="\t",
    header=None,
    names=["label","text"]
)
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
df["label"].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [8]:
df["text_length"] = df["text"].str.len()

df.groupby("label")["text_length"].agg(
    count="count",
    mean="mean",
    min="min",
    max="max"
)

       count        mean  min  max
label
ham     4825   71.482487    2  910
spam     747  138.670683   13  223

In [9]:
df["text_length"] = df["text"].str.len()

df.sort_values("text_length").groupby("label").head(1)[
    ["label", "text_length", "text"]
]

     label  text_length           text
4498   ham            2             Ok
3742  spam           13  2/2 146tf150p

In [2]:
import re
def clean_text(text):
    text = text.lower()
    text = re.sub(r"^a-z\s","", text)
    text = re.sub(r"\s+"," ", text).strip()
    return text

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=10)

X_bow = vectorizer.fit_transformer(df["clean_text"])

print("Vacabulary:", vectorizer.get_feature_names_out())
print("Matrix shape:", X_bow.shape)

AttributeError: 'CountVectorizer' object has no attribute 'fit_transformer'